.home{
    margin-top: 30px;
    font-family: lato;

    // .box{
    //     border-radius: 40px;
    //     // padding:5px;
    //     color: white;
    //     background:rgb(247, 216, 221);
    // }

    .btn-shop{
        border-radius: 20px;
        background-color: skyblue;
        text-transform: lowercase;
        padding: 8px;
        width: 30%;
    }

}
