@import './variables';

.navbar{
    width:100%;
    padding-top: 10px;

    .links{
        float: right;
        // margin-top: 5px;

        a{
            text-decoration: none;
            text-transform: capitalize;
            color:$black;
            transition: .2s ease;

            &:hover{
                color: $aqua;
                transition: .2s ease;
            }
        }

        .btn{
            
            border-radius: 40px;
            
        }
    }
}
