@import './variables';

.navbar{
    width:100%;
    padding-top: 10px;

    .nav-icon {
        display: none;
    }

    .links{
        float: right;
        // margin-top: 5px;

        .btn{
            border-radius: 40px;
            margin-top: -7px;  
        }

        @include responsive(mobile) {
            display: none;
        }
    }

    @include responsive(tablet) {
        .btn-drawer{
            display: none;
        }
        
    }
 
}

.sidebar{
    .links{
        a{
            font-size: 18px;
            margin: 10px 0;
        }

        .btn{
            display: none;
        }

        .nav-icon {
            display: block;
        }
    }
}