@import './navbar';
@import './home';
@import './auth';
@import './variables';

.container{
    width: 83%;
    transform: translateX( 10%);
    font-family: $lato;
    margin-bottom: 20px;

    .btn{
        padding: 5px 20px;
        box-shadow: none;
        background: linear-gradient(to right, $light-orange, $dark-orange);
        text-transform: capitalize;
    }
    
    p {
        color: gray;

        display: flex;
        flex-grow: 1;
        align-items: start;
        
    }
}

a{
    text-decoration: none;
    text-transform: capitalize;
    color:$black;
    transition: .2s ease;
    font-family: $lato;

    &:hover{
        color: $aqua;
        transition: .2s ease;
    }
}

@include responsive(mobile){
    .container{
        width: 92%;
        transform: translateX(7%);
    }
}
